<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= style %>">
    <title>Pharmacie SAUTEUHZ</title>
</head>

<body>
    <header>
        <h1>Pharmacie SAUTHEUZ</h1>
    </header>
    <div class="sidebar">
        <a href="/#" class="button"><img src="<%= logo %>" height="60px" width="60px"></a>
        <hr>
        <a href="/medecins/afficher">Médecin</a>
        <a href="/ordonnance/afficher">Ordonnance</a>
        <a href="">Autre</a>
        <a href="">A propos</a>
        <a href="">Contact</a>
    </div>
    <p>Voici l'intranet de la pharmacie, ici vous pourrez voir toutes les ordonnances, médecins et médicament présent.</p>

    <footer>
        <p>MICHAUD-EYMOZ Pierre - 2023</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons"
                style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
    </footer>
</body>

</html>